.BarisPertama {
    background-color: aquamarine;
}
table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}
.Nomor{
    width: 50px;
}
th{
    width: 150px;
}

.KolomNomor{
    display: flex;
    justify-content: center;
    border: px solid;
}