.th1 {
    background-color: rgb(104, 209, 250);
}
.Table1, .td1, .th1 {
    border: 1px black solid;
    border-collapse: collapse;
    text-align: center;
}
th{
    width: 50px;
}
th{
    width: 150px;
}

.Colon {
    width: 5%;
    text-align: center;
}

.Title2 {
    text-align: left;
    width: 170px;
}

.Title2, .Colon, .td2, .Tabel2 {
    ;
}
